service:
  tesPort: 80
  cromwellPort: 8000

config:
  coaNamespace: RUNTIME_PARAMETER
  resourceGroup: RUNTIME_PARAMETER
  azureServicesAuthConnectionString: RUNTIME_PARAMETER
  applicationInsightsAccountName: RUNTIME_PARAMETER
  azureOfferDurableId: MS-AZR-0003p
  batchAccount:
    accountName: RUNTIME_PARAMETER
  batchNodes:
    subnetId: RUNTIME_PARAMETER
    disablePublicIpAddress: RUNTIME_PARAMETER
    globalStartTask: /configuration/start-task.sh
  batchScheduling:
    disable: RUNTIME_PARAMETER
    usePreemptibleVmsOnly: RUNTIME_PARAMETER
    useLegacyAutopools: "False"
    poolRotationForcedDays: "7"
    prefix: RUNTIME_PARAMETER
  nodeImages:
    docker: RUNTIME_PARAMETER
  batchImageGen2:
    offer: RUNTIME_PARAMETER
    publisher: RUNTIME_PARAMETER
    sku: RUNTIME_PARAMETER
    version: RUNTIME_PARAMETER
    nodeAgentSkuId: RUNTIME_PARAMETER
  batchImageGen1:
    offer: RUNTIME_PARAMETER
    publisher: RUNTIME_PARAMETER
    sku: RUNTIME_PARAMETER
    version: RUNTIME_PARAMETER
    nodeAgentSkuId: RUNTIME_PARAMETER
  martha:
    url: RUNTIME_PARAMETER
    keyVaultName: RUNTIME_PARAMETER
    secretName: RUNTIME_PARAMETER

tesDatabase:
  serverName: RUNTIME_PARAMETER
  serverNameSuffix: RUNTIME_PARAMETER
  serverPort: RUNTIME_PARAMETER
  serverSslMode: RUNTIME_PARAMETER
  databaseName: RUNTIME_PARAMETER
  databaseUserLogin: RUNTIME_PARAMETER
  databaseUserPassword: RUNTIME_PARAMETER

cromwellDatabase:
  serverName: RUNTIME_PARAMETER
  serverNameSuffix: RUNTIME_PARAMETER
  serverPort: RUNTIME_PARAMETER
  serverSslMode: RUNTIME_PARAMETER
  databaseName: RUNTIME_PARAMETER
  databaseUserLogin: RUNTIME_PARAMETER
  databaseUserPassword: RUNTIME_PARAMETER

images:
  cromwell: RUNTIME_PARAMETER
  tes: RUNTIME_PARAMETER
  triggerservice: RUNTIME_PARAMETER

# Mounted as /containername as expected by Cromwell
cromwellContainers:
  - configuration
  - cromwell-executions
  - cromwell-workflow-logs
  - outputs

# Mounted as /accountname/containername 
defaultContainers:
  - inputs

internalContainersMIAuth:
#  - accountName: storageAccount
#    containerName: dataset1
#    resourceGroup: resourceGroup1

internalContainersKeyVaultAuth:
#  - accountName: storageAccount
#    containerName: dataset1
#    keyVaultURL:
#    keyVaultSecretName:

externalContainers:
#  - accountName: storageAccount
#    accountKey: <key>
#    containerName: dataset1
#    resourceGroup: resourceGroup1

externalSasContainers:
  - accountName: datasettestinputssouthc
# [SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine", Justification="Public example, not confidential")]
    sasToken: "si=coa&spr=https&sv=2022-11-02&sr=c&sig=Updk4aRmzWJai%2BhtQaLjNJAVq5jwc5M4frsCBTjIj%2FM%3D"
    containerName: dataset
  - accountName: datasettestinputs
# [SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine", Justification="Public example, not confidential")]
    sasToken: "sv=2018-03-28&sr=c&si=coa&sig=nKoK6dxjtk5172JZfDH116N6p3xTs7d%2Bs5EAUE4qqgM%3D"
    containerName: dataset

persistence:
  blobPvcSize: 32Gi
  cromwellTmpSize: 32Gi
  storageAccount: RUNTIME_PARAMETER
  executionsContainerName: RUNTIME_PARAMETER

identity:
  name: RUNTIME_PARAMETER
  resourceId: RUNTIME_PARAMETER
  clientId: RUNTIME_PARAMETER
