[Unit]
Description=CromwellOnAzure
RequiresMountsFor=/data
After=local-fs.target remote-fs.target

[Service]
ExecStart=/bin/bash /data/cromwellazure/startup.sh
ExecStop=/bin/bash -c "cd /data/cromwellazure && docker-compose stop"

[Install]
WantedBy=multi-user.target