# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

version: "3.6"
services:
  tes:
    image: "TESIMAGENAME"
    environment:
      - DefaultStorageAccountName=STORAGEACCOUNTNAME
      - CosmosDbAccountName=COSMOSDBNAME
      - BatchAccountName=VARBATCHACCOUNTNAME
      - ApplicationInsightsAccountName=VARAPPLICATIONINSIGHTSACCOUNTNAME
      - UsePreemptibleVmsOnly=true
    expose:
      - "80"
  mysqldb:
    image: "mysql:latest"
    environment:
      - MYSQL_ROOT_PASSWORD=cromwell
      - MYSQL_DATABASE=cromwell_db
    volumes:
      - type: bind
        source: /mysql
        target: /var/lib/mysql
    entrypoint:
      - /bin/sh
      - -c
    command: ["echo \"CREATE USER 'cromwell'@'localhost' IDENTIFIED BY 'cromwell'; GRANT ALL PRIVILEGES ON cromwell_db.* TO 'cromwell'@'localhost' WITH GRANT OPTION; CREATE USER 'cromwell'@'%' IDENTIFIED BY 'cromwell'; GRANT ALL PRIVILEGES ON cromwell_db.* TO 'cromwell'@'%' WITH GRANT OPTION;\" > /docker-entrypoint-initdb.d/init_user.sql && docker-entrypoint.sh mysqld && echo \"Deleting change log lock table...\" && mysql -u cromwell -p cromwell -e \"DELETE FROM DATABASECHANGELOGLOCK;\""]
    expose:
      - "3306"
  cromwell:
    image: "CROMWELLIMAGENAME"
    volumes:
      - type: bind
        source: /cromwellazure/wait-for-it
        target: /wait-for-it
    entrypoint:
      - /bin/sh
      - -c
    command: ["/wait-for-it/wait-for-it.sh mysqldb:3306 -t 255 -- java -Dconfig.file=/configuration/cromwell-application.conf -jar /app/cromwell.jar server"]
    ports:
      - "8000:8000"
    depends_on:
      - "mysqldb"
      - "tes"
  triggerservice:
    image: "TRIGGERSERVICEIMAGENAME"
    environment:
      - DefaultStorageAccountName=STORAGEACCOUNTNAME
      - LAB_NAME=lab1
      - ApplicationInsightsAccountName=VARAPPLICATIONINSIGHTSACCOUNTNAME
    depends_on:
      - "cromwell"