kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-blob-dataset
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: pv-blob-dataset
  storageClassName: ""